@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Cormorant+Garamond:wght@300&family=Geo&display=swap');


:root {
    --cor1: #caf0f8;
    --cor2: #adf4cb;
    --cor3: #90ef90;
    --cor4: #4de448;
    --cor5: #85d800;
    --cor6: #c4c700;
    --cor7: #b67c00;
    --cor8: #8a3802;
    --cor9: #5e0903;
    --cor10:#D36135;  
    --font1: 'Geo', sans-serif;
    --font2: 'Cinzel', serif;
    --font3: 'Cormorant Garamond', serif;
}
* {
    margin: 0%;
    padding: 0%;
}
body {
   
    font-family: var(--font1);
    font-size: 1em;
    color: orangered;
    justify-content: center;
    background-image: linear-gradient(to bottom, #0B071E, #432378);

  /*  background-image: url(./imagens/ponte.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */
}
body::-webkit-scrollbar {
    width: 6px;
}    body::-webkit-scrollbar-track {
        background-color: var(--cor1);
    }    body::-webkit-scrollbar-thumb {
        background-color: white; border-radius: 10px; border: 2px solid pink;
    }
header {
    background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0));
    margin: auto;
    max-width: 100%;
    padding-top: 15px;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.imgcabecalho {
    height: 100px;
}
.blur {
    background-color: rgba(255, 255, 255, 0.452);
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-bottom: 5px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20);

}
header h1 {
    color:var(--cor1);
    padding: 10px;
    font-family: var(--font1);
    font-size: 3em;
    font-style: normal;
    font-weight: 500;
    max-width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}
nav {
   background-color: black;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.281);
}
nav > a {
    color: white;
    padding: 10px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: bolder;
    text-decoration: none;
    height: 10px;
    margin-bottom: 10px;
    transition-duration: .5s;
}
nav > a:hover {
    color: var(--cor9);
    background-color: var(--cor2);
    border-radius: 5px;
    text-decoration: underline;
}
.geral{
    max-width: 400px;
    max-height: 100%;
    padding: 30px;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.575);
    border: 1px solid orangered;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
    border-radius: 20px;
    color: black;
}
.formulario-geral {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 1em;
    font-style: normal;
    margin: 5px;
}
fieldset {
    border: 0px;
}
input, select, textarea {
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(255, 114, 62);
    border-radius: 5px;
}
.grupo:before, .grupo:after {
    display: table;
}
.grupo:after{
    clear: both;
}
textarea:focus, input:focus {
    background-image: linear-gradient(to top, #ff7b007a, #ffffff 70%);
}
.titulo {
    font-weight: 500;
    font-size: 1em;
    display: block;
    margin-bottom: 5px;
    padding-top: 10px;
}
.titulo-prin {
    font-family: var(--font1);
    font-size: 2em;
    color: black;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}
.paragrafo {
    font-family: var(--font1);
    font-size: 1em;
    color: black;
    text-align: center;
    font-style: italic;
    margin-bottom: 5px;
}
.radio1 {
padding: 5px;
    margin-top: 5px;
}
.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.b1 {
    font-family: var(--font1);
    font-size: 1.2em;
    font-weight: bolder;
    border: 0.1px solid orangered;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    cursor: pointer;
    background-color: rgb(255, 233, 194);
}
.b1:hover {
    background-color: rgb(252, 200, 111);
    font-style: italic;
    color: black;
    text-decoration: underline;
}
.div-roda {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.644) 50%, rgba(0, 0, 0, 0.24));
    color: black;
    width: 100%;
    height: 100%;
} 
.titulo-roda {
    font-family: var(--font3);
    font-size: 1em;
    color: black;
    text-align: center; 
}
.div-a {
    color: black;
    font-family: var(--font3);
    font-size: 1em;
    text-align: center;
    padding: 5px;
    padding-top: 20px;
}
.social {
    display: flex;
}
footer a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}
footer a:hover{
    text-decoration: underline;
}
.conf-a {
    padding: 5px;
    display: flex;
    align-items: center;
}
footer h1 {
    color: black;
    font-size: 1em;
}
.social {
    height: 30px;
}
.roda-img {
    height: 50px;
}