@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Cormorant+Garamond:wght@300&family=Geo&display=swap');

:root {
    --cor1: #caf0f8;
    --cor2: #adf4cb;
    --cor3: #90ef90;
    --cor4: #4de448;
    --cor5: #85d800;
    --cor6: #c4c700;
    --cor7: #b67c00;
    --cor8: #8a3802;
    --cor9: #5e0903;
    --cor10:#D36135;  
    --font1: 'Geo', sans-serif;
    --font2: 'Cinzel', serif;
    --font3: 'Cormorant Garamond', serif;
}
* {
    margin: 0%;
    padding: 0%;
}
body {
    background-image: url(imagens/fogueira3.jpg);
    max-width: 100%;
    min-width: auto;
    align-content: center;
    background-size: cover;
}
body::-webkit-scrollbar {
    width: 6px;
}    body::-webkit-scrollbar-track {
        background-color: var(--cor1);
    }    body::-webkit-scrollbar-thumb {
        background-color: white; border-radius: 10px; border: 2px solid pink;
    }  
header {
    background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0));
    margin: auto;
    max-width: 100%;
    padding-top: 15px;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    }
.imgcabecalho {
    height: 100px;
    }
.blur {
    background-color: rgba(255, 255, 255, 0.452);
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-bottom: 5px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20);
}
header h1 {
    color:var(--cor1);
    padding: 10px;
    font-family: var(--font1);
    font-size: 3em;
    font-style: normal;
    font-weight: 500;
    max-width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}
nav {
    background-color: black;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.281);
}
nav > a {
    color: white;
    padding: 10px;
    font-family: var(--font2);
    font-style: normal;
    font-weight: bolder;
    text-decoration: none;
    height: 10px;
    margin-bottom: 10px;
    transition-duration: .5s;
}
nav > a:hover {
    color: var(--cor9);
    background-color: var(--cor2);
    border-radius: 5px;
    text-decoration: underline;
}
.text-header {
    color:white;
    font-family: var(--font1);
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}
.titulo {
    font-family: var(--font2);
    font-size: 2em;
    text-align: center;
    padding: 15px;
    color: var(--cor1);
}
.apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 10px;
    max-height: 900px;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-cap {
    max-height: 400px;
    max-width: 400px;
    object-fit: cover;
}
.p-apresentacao {
    color: var(--cor1);
    padding: 15px;
    font-size: 1.2em;
    font-family: var(--font3);
    text-align: center;
}
.caixa-principal {
    background-color: transparent;
    font-family: var(--font3);
    max-width: 1100px;
    max-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.section-primeira {
    border: 1px solid black;
    max-width: 80vw;
    max-height: 800px;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
}
.nome {
    font-family: var(--font2);
    font-size: 1em;
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-decoration: underline;
    font-style: italic;
}
.div-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    font-size: 14px;
}
.text-img {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.disp {
    display: flex;
    align-content: center;
    align-items: center;
}
.foto {
    height: 50px;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    border-radius: 0px 33px;
}
.img {
    height: 60px;
    padding-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.box-demo {
    border: 1px solid black;
    padding: 10px;
    margin: 15px;
    font-weight: 900;
}
.box-work {
    border: 1px solid black;
    padding: 10px;
    margin: 15px;
    font-weight: 900;
}
.caixa-par {
    background-color: transparent;
    font-family: var(--font3);
    max-width: 1100px;
    max-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.section-par {
    border: 1px solid black;
    max-width: 80vw;
    max-height: 800px;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
}
.div-roda {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.644) 50%, rgba(0, 0, 0, 0.24));
    color: black;
    width: 100%;
    height: 100%;
} 
.titulo-roda {
    font-family: var(--font3);
    font-size: 1em;
    color: black;
    text-align: center; 
}
.div-a {
    color: black;
    font-family: var(--font3);
    font-size: 1em;
    text-align: center;
    padding: 5px;
    padding-top: 20px;
}
.social {
    display: flex;
}
footer a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}
footer a:hover{
    text-decoration: underline;
}
.conf-a {
    padding: 5px;
    display: flex;
    align-items: center;
}
footer h1 {
    color: black;
    font-size: 1em;
}
.social {
    height: 30px;
}
.roda-img {
    height: 50px;
}